.container-user {
  margin-left: 1rem;
}

.div-info {
  margin-left: 1.5rem;
}

.img-logo {
  width: 30%;
  margin: auto;
}

.container-imagem {
  width: 100%;
  align-items: center;
  margin-bottom: -30px;
}

.segment {
  --background: #ffffff;
}

.segment-button:active {
  background-color: #002fff;
}

.label-text-1{
  font-family: 'Rosemary';
  white-space: nowrap;
}

.label-text{
  font-family: 'Rosemary';
}

.p-label{
    color: #474747;
}

.delete-button{
  --background: #ff2626;
}

.update-button{
  --background: #ffac26;
}

.add-campo{
  --background: #55db3a;
  text-align: right;
}

.add-campo-button{
  --background: #55db3a;
}

ion-item{
  --background : #94c9ff;
  border-bottom: solid 1px black;
}

ion-list{
  padding-top: 0px;
  padding-bottom: 0px;
}

.delete-button{
  --background: #ff2626;
}

.update-button{
  --background: #ffac26;
}

.teste{
  text-align: center;
}


.block-nome{
  //flex-grow: 1;
  display: inline-block;
  width: 50%;
}


